{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <section>
        <div class="container mt-5" style="max-width:30rem;">
            <div class="row">
                <div class="col-lg-12 pt-4">
                    <div class="mx-auto d-block col-lg-12 col-md-8 login px-lg-3 border pt-3 pb-3">
                        <h2 class="text-center">Rest Password</h2>
                        <br>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="password" name="password1" id="password" class="form-control" placeholder="New Password" required
                                autocomplete="off" >
                            <br>
                            <input type="password" name="password2" id="confirm_password" class="form-control" placeholder="Confirm Password" required
                                autocomplete="off" onchange="CheckPasswordMatch();">
                                <span id='message'></span>
                            <br>
                            <input type="submit" value="Reset Password" class="btn btn-success form-control">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 1500
        }).then(function () {
            javascript: history.go(-2);
        })
    </script>
    {% endif %}
    {% if msg_error %}
    <script>
        Swal.fire({
            icon: 'error',
            text: '{{ msg_error }}',
        }).then(function () {
            javascript: history.go(-1);
        })
    </script>
    {% endif %}
    <script>
        if (performance.navigation.type == 2) {
            location.reload(true);
        }
        $('#confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
    </script>
</body>

</html>